/* Generals */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-header-bg: #255EE8;
	--color-white-secondary: #ffffff;
	--color-gray: #f6f6f6;
	--color-black-primary: #23262a;
	--color-purple-accessory: #7289da;
}
body{
    font-family: 'Noto Sans Linear B 600', sans-serif;
}
.debug{
    border: 1px solid black;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 10px;
}

ul{
    list-style: none;
}


a{
    color: var(--color-white-secondary);
    text-decoration: none;
    padding: 10px 25px;

}

.botton-white{
    background-color: var(--color-white-secondary);
    color: var(--color-black-primary);
    border-radius: 25px;
}

.botton-black{
    background-color: var(--color-black-primary);
    color: var(--color-white-secondary);
    border-radius: 25px;
    padding-left: 20px;
    margin-left: 10px;
}

.botton-purple{
    background-color: var(--color-purple-accessory);
    color: var(--color-white-secondary);
    border-radius: 25px;
    padding-left: 20px;
    margin-left: 10px;
}


/* Flex */

    /* Main Axis */

.b-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.footer-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid var(--color-purple-accessory);
}
.c-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.r-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.start-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}


.r-r-flex{
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-items: center;
    align-content: center; 
}

    /* Cross Axiss */

.column-flex{
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    align-items: center;
    flex-basis: 300px;
    padding-left: 30px;
}

.column-r-flex{
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: center;
    align-items: center;
    align-content: center; 
}

.a-flex{
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    align-items: center;
}

/* Header */
header{
    background-color: var(--color-header-bg);
    color: var(--color-white-secondary);
}

#hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.hero-content{
    max-width: 800px;
    text-align: center;

}

#title{
    padding-top: 120px;
    font-size: 40px;
}

#text-title{
    padding-top: 40px;
    line-height: 30px;
}

.botton{
    padding-top: 30px;
    padding-bottom: 120px;
}

.botton-white i {
    padding-right: 5px;
}


/* Main */
main{
    background-color: var(--color-white-secondary);
}


.even{
    background-color: var(--color-gray);
}

h2{
    font-size: 35px;
    line-height: 50px;
}


.column-flex p {
    line-height: 20px;
    padding-top: 20px;
}

section{
    padding: 150px 0;
}


.a-flex p{
    padding: 20px 60px;
    text-align: center;
    line-height: 20px;
}

#wide-image{
    width: 100%;
}

/* Footer */

footer{
    background-color: var(--color-black-primary);
    color: var(--color-white-secondary);
    
}
footer h4{
    font-size: 1.5em;
    color: var(--color-purple-accessory);
}

select:hover{
    cursor: pointer;
}
select{
    display: block;
    border: 0;
    background-color: var(--color-black-primary);
    color: var(--color-white-secondary);
    font-size: 1.1em;
}

.ita{
    width: 25px;
}

div> .start-flex{
    padding-top: 45px;
}

footer h5{
    font-size: 1em;
    color: var(--color-purple-accessory);
    padding-bottom: 10px;

}

footer ul li{
    padding: 10px 0;
}

footer ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}