/* Generals */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-header-bg: #255EE8;
	--color-white-secondary: #ffffff;
	--color-gray: #f6f6f6;
	--color-black-primary: #23262a;
	--color-purple-accessory: #7289da;
}
body{
    font-family: 'Noto Sans Linear B 600', sans-serif;
}
.debug{
    border: 1px solid black;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 10px;
}

ul{
    list-style: none;
}

a{
    color: var(--color-white-secondary);
    text-decoration: none;
    padding: 10px 25px;

}

.botton-white{
    background-color: var(--color-white-secondary);
    color: var(--color-black-primary);
    border-radius: 25px;
}

.botton-black{
    background-color: var(--color-black-primary);
    color: var(--color-white-secondary);
    border-radius: 25px;
    padding-left: 20px;
    margin-left: 10px;

}


/* Flex */

.b-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}


.c-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.r-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.r-r-flex{
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    align-content: center; 
}
.column-flex{
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    align-items: center;
    flex-basis: 300px;
    padding-left: 30px;
}


/* Header */
header{
    background-color: var(--color-header-bg);
    color: var(--color-white-secondary);
}

#hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.hero-content{
    max-width: 800px;
    text-align: center;

}

#title{
    padding-top: 120px;
    font-size: 40px;
}

#text-title{
    padding-top: 40px;
    line-height: 30px;
}

.botton{
    padding-top: 30px;
    padding-bottom: 120px;
}

.botton-white i {
    padding-right: 5px;
}


/* Main */
main{
    background-color: var(--color-white-secondary);
}


.even{
    background-color: var(--color-gray);
}

h2{
    font-size: 35px;
    line-height: 50px;
}


.column-flex p {
    line-height: 20px;
    padding-top: 20px;
}


/* Footer */

footer{
    background-color: var(--color-black-primary);
    color: var(--color-white-secondary);
    
}




mettere padding tra le section